//typography
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic");
$lato       : 'Lato', sans-serif;

//colors
$text_color      : #434343;
$blue            : #008CBA;
$beige           : #FFFFF5;
$darker_beige    : #FFF5E1;




